<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,112}</string>
                <key>spriteSourceSize</key>
                <string>{500,112}</string>
                <key>textureRect</key>
                <string>{{227,1},{500,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,112}</string>
                <key>spriteSourceSize</key>
                <string>{312,112}</string>
                <key>textureRect</key>
                <string>{{341,1},{312,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,419}</string>
                <key>spriteSourceSize</key>
                <string>{224,419}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,188}</string>
                <key>spriteSourceSize</key>
                <string>{153,188}</string>
                <key>textureRect</key>
                <string>{{341,315},{153,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sprite.png</string>
            <key>size</key>
            <string>{495,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48481572016b4a814095d67d9b4154b2:606593f67c3e770c549c31dc6b52d5c8:b21d0a374f29193c6840f9de877d05a4$</string>
            <key>textureFileName</key>
            <string>Sprite.png</string>
        </dict>
    </dict>
</plist>
